<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GetDataFromMySql.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GetDataFromMySql.Properties.Settings>
            <setting name="templatesFolder" serializeAs="String">
                <value>C:\Users\Reginaldo\Desktop\templates</value>
            </setting>
            <setting name="resultsFolder" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="server" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="user" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="database" serializeAs="String">
                <value>vasaboden</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>3306</value>
            </setting>
        </GetDataFromMySql.Properties.Settings>
    </userSettings>
</configuration>